*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    /* width: 1340px; */
    padding: 22px 45px;
    background: rgba(243, 215, 183, 1);
}
header h3{
    font-size: 12px;
}
header a{
    color: black;
    text-decoration: none;
    font-size: 12px;
}
.header-box{
    /* margin: 0px 50px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-menu{
    display: flex;
    gap: 50px;
}
section{
    background:  rgba(243, 215, 183, 1);
    padding-top: 182px;
    height: 720px;
}
.section{
    display: flex;
    justify-content: space-between;
}
.section h1{
    margin-left: 50px;
    font-size: 64px;
    color: rgba(0, 0, 0, 1);
}
.section p{
    margin-left: 50px;
    margin-top: 75px;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}

.img{
    width: 660px;
    height: 390px;
    padding-top: 182px;
    padding-left: 726px;
}


.img-parent{
    position: relative;
}

.img2{
    animation-name: aylan;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: absolute;
    left: -15%;
    top: -25%;
}


@keyframes aylan{
    0%{
        transform: rotateZ(360deg);
    }
}

.section2{
    background: white;
    display: flex;
    justify-content: space-between;

}

.img3{
    display: flex;

    margin-left: 49.6px;
}
.wrapper2{

}
.section2 h1{
    gap: 64px;
    font-size: 48px;
    color: rgba(0, 0, 0, 1);
}
.section2 p{
    font-size: 18px;
    color: rgba(51, 51, 51, 1);
    margin-top: 64px;
}
.section3{
    background: rgba(201, 155, 103, 1);
    height: 510px;
}
.section3 h1{
    color: rgba(255, 255, 255, 1);
    font-size: 50px;
    margin-left: 50px;
}
.section3 p{
    color: rgba(255, 255, 255, 1);
    margin-top: 28px;
    margin-left: 59px;
}

footer{
    height: 160px;
    background: rgba(243, 215, 183, 1);
   
}
.footer .img4{
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-top: 46px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-menu2{
    display: flex;
    gap: 50px;
}
.right-menu2 h3{
    font-size: 16px;
    margin-top: 55px;
    margin-right: 552px;
}

section {
    
}